body {
	background-color: dimgray;
    margin: 0;
}
#container {
    max-width: 100vw;
    aspect-ratio: 55/40;
    max-height: 100vh;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    inset: 0;
    margin: auto;
}
ruffle-player {
    width: 100%;
    height: 100%;
    &:before {
        content: "";
		width: 100vw;
		height: 100vh;
        top: 0;
        left: 0;
		display: block;
		position: fixed; 
    }
}
.joystick {
	--r: 65;
	--x: var(--r);
	--y: var(--r);
    pointer-events: none;
	position: absolute;
	left: calc(20px);
	width: calc(var(--r) * 2px);
	height: calc(var(--r) * 2px);
	border: 1px solid gray;
	background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    transition: background-color 0.2s;
	&.focus {
    	background-color: rgba(255, 255, 255, 0.6);
		&:after {
            background-color: rgba(255, 255, 255, 0.8);
			transition: transform 0.1s, background-color 0.2s;
		}
	}
    &:after,
    &:before {
        content: "";
        border-radius: 50%;
		width: 50px;
		height: 50px;
		display: block;
		position: absolute;
    }
	&:after {
        border: 1px solid gray;
		background-color: rgba(255, 255, 255, 0.5);
		transform: translate(calc(-50% + 1px * var(--x)), calc(-50% + 1px * var(--y)));
		transition: transform 0.4s, background-color 0.2s;
	}
    &:before {
        border: 1px solid rgb(139, 139, 139);
		transform: translate(calc(-50% + var(--r) * 1px), calc(-50% + var(--r) * 1px));
    }
}
.button {
    position: absolute;
    pointer-events: none;
    color: ghostwhite;
    border: 1px solid gray;
	background-color: rgba(255, 255, 255, 0.3);
    min-width: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    &.focus {
    	background-color: rgba(255, 255, 255, 0.6);
    }
}
virtual-joystick {
    display: block;
    position: absolute;
    width: 135px;
    top: 135px;
    right: 135px;
}
[data-mode] {
    width: 50%;
    height: 100%;
    top: 0;
    right: auto;
}